
.messageInfo {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.messageInfo>p {
   font-size: 21px;
}

.messageInfo>img {
   border-radius: 50%;
}

.message {
   display: flex;
   align-items: center;
   gap: 10px;
}

.messageText {
   color: #fff;
}

.messageBackground {
   padding: 10px 25px;
   background: rgba(0, 0, 0, 0.8);
   border: 1px solid rgba(0, 0, 0, 0.4);
   border-radius: 50px;
}